header
	h1 Header Section Goes Here..
	a(href='/') Back

	//- this user comes from 			res.locals.user = currentUser
	if (user)
		ul
			li: a#logoutBtn(href='') logout
			li: a(href='/me')= `${user.name.split(' ')[0]}`
				//- span: img#userPhoto(src='/images/Aayan/a2.ico')
				span: img#userPhoto(src=`/images/${user.photo}`)

		//- div= user

	else
		ul
			li: a(href='/login') Login
			li: a(href='#') Signup
