body {
	margin: 0;
	/* padding: .5rem 1rem; */
}

header h1, footer h2 {
	margin: 0;
}

header {
	background-color: #a0a97f;
	color : maroon;
	margin-top: 0;
}

footer {
	background-color: #6699c3ff;
	color : maroon;
}


.error {
	color: red;
	/* border: 2px solid #6699c3ff; */
}
